mainmenu "Customized Menu Name"
source "Kconfig.zephyr"

menu "CYD application options"

config PROJECT_NAME
    string "Project Name"
    default "CYD_ZEPHYR"
    help
        Set the project name for the application.

config CYD_ENABLE_TOUCH
    bool "Enable touch support"
    default n
    help
        Enable this option to include touch support in the application.

endmenu
